@{
    ViewData["Title"] = "Home";
}

<div>
    <h2>C.I.G.A.D - Desenvolvimento infantil e materno</h2>
    <p>Um projeto criado no ano de 2023, com o intuito de dar conselhos e 
                   manter as mamães e familiares atualizados dos assuntos atuais sobre a maternidade e sua(s) criança(s).</p>
    <p>Aqui você também encontra diversão para seus pequenos, musicas e desenhos escolhidos com carinho para a diverão e 
        educação dos peqeuenos.</p>

   <div class="slidesShow-container">
        <div class="mySlides">
            <img src="https://images.unsplash.com/photo-1510154221590-ff63e90a136f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80" style="width:100%; height: 450px; object-fit: cover;">
        </div>

        <div class="mySlides">
            <img src="https://images.unsplash.com/photo-1627556867838-b6bd550c5b67?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1476&q=80"  style="width:100%; height: 450px; object-fit: cover;">
        </div>

        <div class="mySlides">
            <img src="https://images.unsplash.com/photo-1623604407437-d8fce3bc61de?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1473&q=80" style="width:100%; height: 450px; object-fit: cover;">
        </div>
    </div>

    <div class="dot-container">
        <span class="dot active" onclick="carrosselSlide(1)"></span>
        <span class="dot active" onclick="carrosselSlide(2)"></span>
        <span class="dot active" onclick="carrosselSlide(3)"></span>
    </div>
</div>


