@{
    ViewData["Title"] = "New";
}

<h2>NOTÍCIAS</h2>

<div class="container">
    <div class="row">
        <img class="image" src="https://images.unsplash.com/photo-1604917621956-10dfa7cce2e7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1562&q=80">
    </div>

    <div class="row1">
        <div class="col-4">
            <h4>PARTO NORMAL É MENOS ARRISCADO QUE A CESARIANA,MITO OU VERDADE?</h4>
            <p>As taxas de parto por cesariana aumentam em todo o mujndo, incluindo no Brasil,
                um dos países com a maior incidência.Estudos científicos apontam ue bebês
                nascidos de cesarianas apresentam risco aumentado de dificuldades respiratória
                e tendem a ser internados em Unidads de Terapia Intensiva(UTI)
                neonatal com mais frequência.</p>
        </div>
    </div>

    <div class="row1">
        <div class="col-4">
            <h4>EDUCAÇÃO ALIMENTAR</h4>
            <p>Atualmente a má alimentação infantil é o principal fator de risco para o surgimento
                de doenças. O Dr.Paulo Miranda, médico endocrinologista cooperado da Unimed BH, alerta
                para a gravidade da situação que envolve a pouca qualidade da alimentação das crianças
                de maneira geral e as suas consequências:"isso é uma preocupaçao da saúde pública e o
                impacto em termos de doenças crônico-degenerativas será enorme com o avançar de idade
                desse grupo populacional".</p>
        </div>
    </div>

    <div class="row1">
        <div class="col-4">
            <h4>TESTE DO PEZINHO DEVE SER APLIANDO PARA MAIS UMA DOENÇA CONGÊNITA</h4>
            <p>No Paraná, o exame contempla a detecção de seis doenças, e a previsão é de que ainda neste
                semestre a toxoplasmose congênita faça parte da triagem realizada em bebês.</p>
            <button class="btn btn-danger">Ver mais</button>
        </div>
    </div>

<h2>CONHECIMENTO</h2>

<div class="row2">
    <div class="col-md-3">
        <iframe src="https://www.youtube.com/embed/TgOGUw_x0Es" title="MEU RELATO DE PARTO!"></iframe>
    </div>

    <div class="col-md-3">
        <iframe src="https://www.youtube.com/embed/wmH5vrh6EFM" title="MEU RELATO DE AMAMENTAÇÃO"></iframe>
    </div>

    <div class="col-md-3">
        <iframe src="https://www.youtube.com/embed/X9Mk9hd_HLc" title="INTRODUÇÃO ALIMENTAR DO BEBÊ | Como começar?"></iframe>
    </div>

    <div class="col-md-3">
        <iframe src="https://www.youtube.com/embed/OVwgY4-LWSU" title="Como dar banho em bebê recém-nascido + limpeza correta do umbigo | PASSO A PASSO"></iframe>
    </div>
</div>

<h2>MAIS INFORMAÇÕES</h2>

<div class="row3">
    <div class="coluna">
        <img class="info" src="https://images.unsplash.com/photo-1602734846297-9299fc2d4703?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1472&q=80" width="80%">
        <a>Cuidado com certos brinquedo!</a>
        <button class="btn btn-danger">Ver mais</button>
    </div>
                
   <div class="coluna">
        <img class="info" src="https://images.unsplash.com/photo-1528728935509-22fb14722a30?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1436&q=80" width="77%">
        <a>As melhores músicas para o seu bebê.</a>
        <button class="btn btn-danger">Ver mais</button>
   </div>
                
    <div class="coluna">
        <img class="info" src="https://images.unsplash.com/photo-1509281373149-e957c6296406?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1456&q=80" width="79%">
        <a>Televisão para criança?</a>
        <button class="btn btn-danger">Ver mais</button>
    </div>
                
    <div class="coluna">
        <img class="info" src="https://images.unsplash.com/photo-1613465457505-42eaac07c3e3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80" width="71%">
        <a>Bebê com cólica?Como ajudar?</a>
        <button class="btn btn-danger">Ver mais</button>
    </div>
</div>