
h3{
    font-size: 30px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.telao{
    display: flex;
    justify-content: center;
}

.musica{
    display: flex;
    justify-content: space-between;
}

.desenho{
    display: flex;
    justify-content: space-between;
}